<form action="/artist-search" method="GET">

		<label for="search">Search: </label>
		<input
			type="search"
			name="artists"
			placeholder="Search by artist"
			id="search"
		/>
		<button>Search</button>

</form>
